* {
  box-sizing: border-box;
}
/*--------------------------------NAVBAR-------------------------------------------*/
body{
  background-color: #eeee !important;
  margin: 0; /* Evita espacios en blanco */
  padding: 0;
}
.modern-navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background: rgba(45, 159, 123, 0.8);
  backdrop-filter: blur(12px); 
  border-radius: 40px; 
  padding: 15px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2rem; 
  color: black !important; 
  transition: color 0.3s ease, transform 0.3s ease; 
}
.navbar-brand:hover {
  color: #a8d5ba !important; 
  transform: translateY(-3px); 
}
.navbar-brand .navbar-logo {
  margin-right: 10px; 
}
.navbar-brand::after {
  content: ''; 
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0; 
  height: 3px; 
  background-color: #557c55; 
  transition: width 0.3s ease;
}

.modern-navbar.scrolled {
  transform: translateX(-50%) scale(0.9);
  background: rgba(45, 159, 123, 0.95); 
}

.navbar-logo {
  height: 60px;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 25px; 
}

.navbar-nav .nav-link {
  position: relative; 
  padding-bottom: 5px;
  font-size: 1.5rem;
}

/* Hover en los enlaces */
.navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #a8d5ba;
  transform: translateY(-3px); 
}

.navbar-nav .nav-link::after {
  content: ''; 
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0; 
  height: 3px; 
  background-color: #557c55; 
  transition: width 0.3s ease;

}

.navbar-nav .nav-link:hover::after {
  width: 100%; 
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.toggle-theme {
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}
.toggle-theme:hover {
  color: #000;
  transform: rotate(360deg);
}
.dropdown i{
  font-size: 1.7rem;
  color: black;
  margin: 10px;
}
.cta-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(90deg, #375a4c, #2a3c32);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(55, 90, 76, 0.4); 
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  transform: scale(1.05);
  background: #4e7c64;
  box-shadow: 0 8px 30px rgba(55, 90, 76, 0.6);
}
@media (max-width: 768px) {
  .modern-navbar {
    border-radius: 20px;
  }
  .navbar-nav {
    flex-direction: column;
    gap: 15px;
  }
  .navbar-actions {
    flex-direction: column;
    gap: 15px;
  }
} 
/*--------------------------------HERO-------------------------------------------*/
/*Lado izquierdo*/
.hero{
background-color: #eeee;
border-bottom: 2px solid #0002;
}
.lado-izq{
  width: 50%;
  height: 75vh;
  background-color: #eeee;
}
.lado-izq h1{
  font-family: "Trirong", serif;
}
.inscribirse{
background-color: rgba(45, 159, 123, 0.8)!important;
}
.inscribirse:hover{
opacity: 0.9;
}
.lado-izq ul {
list-style: none;
padding-left: 2rem;
}

.lado-izq ul li {
font-size: 1.1rem;
margin: 15px 0;
display: flex;
align-items: center;
}

.lado-izq ul li i {
font-size: 1.8rem;
color: #f39c12;
margin-right: 15px;
}
/*Lado derecho*/
.lado-der{
  width: 50%;
  height: 75vh;
}
.carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
width: 100%;
height: 75vh;
background-size: cover;
background-position:center ;
}
.carrusel-derecha1{
background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
}
.carrusel-derecha2{
background-image: url(../imagenes/derecha_10.avif);
}
.carrusel-derecha3{
background-image: url(../imagenes/derecha_1.webp);
}
/*--------------------------------SECCION ELEGIRNOS-------------------------------------------*/
.subtitulo{
padding-top: 40px;
font-family: "Trirong", serif;
font-size: 2.5rem;
}
.elegirnos{
background-color: #eeee;
margin-top: 0;
height: 90vh;
}
.resaltar-texto{
background-color: lightblue;
border-radius: 20px;
padding: 5px;
}
.tarjetas{
display: flex;
}
.card{
margin: 0 20px;
}
.card-text{
  text-align: center;
}
/*--------------------------------CURSOS POPULARES-------------------------------------------*/
.titulo-bootcamp {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* Tamaño grande para destacar */
  font-weight: 700; /* Peso fuerte para resaltar */
  text-transform: uppercase; /* Mayúsculas para impacto visual */
  letter-spacing: 2px; /* Espaciado elegante */
  text-align: center; /* Centrado */
  color: #000000; /* Negro puro */
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.5), /* Sombra difusa */
    -1px -1px 2px rgba(255, 255, 255, 0.3); /* Efecto de relieve */
  animation: moverTitulo 3s ease-in-out infinite; /* Movimiento suave */
}

@keyframes moverTitulo {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Movimiento sutil hacia la derecha */
  }
}

.cursos-populares {
background-color: #2d9f7b;
height: 120vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.grid-cursos {
display: grid;
grid-template-columns: 500px 500px;
grid-template-rows: 250px 250px;
gap:40px;
}

.grid-item {
position: relative;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
background-size: cover;
background-position: center;
border-radius: 10px;
color: transparent;
transition: transform 0.5s ease;
}
.grid-item:nth-child(1){
background-image: url(../imagenes/matematicas2.avif);
}
.grid-item:nth-child(2){
background-image: url(../imagenes/desarrollo-web.png);
}
.grid-item:nth-child(3){
background-image: url(../imagenes/mysql1.jpg);
}
.grid-item:nth-child(4){
background-image: url(../imagenes/java2.png);
}
.grid-item:hover {
transform: rotateY(180deg);
background-image: none;
background-color: #264653;
}

.grid-item:hover .nombre-curso {
opacity: 1;
}

/* Estilo para el nombre de la materia */
.nombre-curso {
font-size: 3rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
text-shadow: 0 0 50px black;
transition: opacity 0.5s ease;
opacity: 0;
transform: rotateY(180deg); /* Evita la rotación */
}

.fin-cursos{
font-family: "Jersey 10", sans-serif;
font-size: 3.5rem;
color: black;
display: flex;
}
.uno{
background-color: transparent;
font-size: 7rem;
}
@keyframes oscilar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.oscilacion {
  display: inline-block; /* Asegura que la animación funcione correctamente */
  animation: oscilar 1.5s infinite; /* Oscilación suave y continua */
}

.texto-cursos{
align-self: center;
margin-left: 15px;
}
.boton-curso{
margin-top: -2rem;
border: 1px solid black !important;
}
.boton-curso:hover{
background-color: #eeee !important;
border: 1px solid #eeee !important;
}
.cursos-link{
color: black;
text-decoration: none;
}

/*--------------------------------RECOMENDACIONES-------------------------------------------*/
.recomendaciones{
height: 80vh;
background-color: #eeee;
}
.recomendaciones h3{
  font-family: "Trirong", serif;
  font-size: 2rem;
}

/*--------------------------------FOOTER-------------------------------------------*/
footer {
background-color: #2a9d8f; /* Color de fondo */
color: white;
font-family: 'Quicksand', sans-serif;
}

/* Título del footer */
.footer-title {
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 15px;
}

/* Enlaces rápidos */
.footer-links {
list-style: none;
padding-left: 0;
}

.footer-links li {
margin-bottom: 10px;
}

.footer-links a {
color: white;
text-decoration: none;
font-size: 1rem;
transition: color 0.3s ease;
}

.footer-links a:hover {
color: #f1faee;
}

/* Iconos de redes sociales */
.social-icons a {
font-size: 1.5rem;
margin: 0 10px;
color: white;
transition: color 0.3s ease;
}

.social-icons a:hover {
color: #f1faee;
}

/* Derechos de autor */
footer .row:last-child {
background-color: #1a7d6f;
}
footer .row:last-child p {
font-size: 0.9rem;
}


/* Estilo para el botón de Preguntas Frecuentes */
.faq-button {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000;
background-color: black;
color: #fff;
border: none;
border-radius: 100%;
padding: 10px 15px;
font-size: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonios-titulo{
padding-top: 40px;
margin-bottom: 40px;
}
/*Estilo carrusel*/
/* Estilo General */
#testimonialCarousel {
max-width: 700px;
margin: auto;
}

/* Contenedor del Testimonio */
.testimonial-item {
text-align: center;
position: relative;
padding: 40px 20px;
color: #fff;
}

/* Imagen del Crítico */
.critic-image {
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 20px;
animation: imageFadeIn 1s ease;
}

/* Texto de la Crítica */
.critic-text p {
font-size: 1.2rem;
font-style: italic;
opacity: 0;
animation: textSlideIn 1s forwards ease-in-out 0.5s;
}

/* Nombre del Crítico */
.critic-name {
font-size: 1rem;
margin-top: 15px;
opacity: 0;
animation: nameFadeIn 1s forwards ease-in-out 1s;
}

/* Animaciones */
@keyframes imageFadeIn {
from {
  opacity: 0;
  transform: translateY(-20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes textSlideIn {
from {
  opacity: 0;
  transform: translateX(-30px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes nameFadeIn {
from {
  opacity: 0;
  transform: translateY(10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/* Fondo de cada slide */
.carousel-item:nth-child(1) { background-color: #2a9d8f; }
.carousel-item:nth-child(2) { background-color: #e76f51; }
.carousel-item:nth-child(3) { background-color: #264653; }

/*--------------SWEET ALERT----------------*/
.faq-popup {
font-family: 'Quicksand', sans-serif;
font-size: 16px;
}
.swal2-title {
font-size: 22px;
color: #4a90e2;
}
.swal2-html-container {
text-align: left;
color: #333;
}
.swal2-confirm {
background-color: #4a90e2;
color: white;
font-size: 16px;
padding: 8px 20px;
border-radius: 4px;
}
.swal2-confirm:hover {
background-color: #357ABD;
}
/*-------------------MODO OSCURO---------------------------------- */
    body.dark-mode {
      background-color: black !important;
      color: #ffffff;
    }
    .dark-mode .hero{ /*ver como queda*/
      border-top: no !important;
    }
    .dark-mode .navbar, .dark-mode .footer {
      background-color: #333333;
    }
    .dark-mode .division-footer{
      border-top: 1px solid white;
    }
    .dark-mode .resaltar-texto{
      background-color: lightblue !important;
      color: black !important;
      border-radius: 20px;
      padding: 5px;
    }
    .dark-mode .boton-curso{
      border: 1px solid white !important;
    }
    .dark-mode .boton-curso:hover{
      background-color: white !important;
      color: black !important;
    }
    nav.dark-mode{
      background-color: #1a7d6f !important;
    }
    .dark-mode .footer, .dark-mode .faq-button, .dark-mode .grid-item, .dark-mode .testimonial-item{
      border: 1px solid white;
    }
    .dark-mode .card {
      background-color: #444444;
      color: #ffffff;
      border: 1px solid white;
    }
    .dark-mode .hero{
      border-bottom: 1px solid white;
      border-top: 1px solid white;
    }
    .dark-mode .btn, .dark-mode .faq-button {
      background-color: #555555;
      color: #ffffff;
    }
    /* Botón de modo oscuro */
    .dark-mode-button {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: #333;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
    /* Estilos específicos para el modo oscuro */
      body.dark-mode {
          background-color: #000; /* Fondo negro */
          color: #fff; /* Texto blanco */
      }

      /* Elementos con fondo y texto */
      body.dark-mode * {
          background-color: #000 !important;
          color: #fff !important;
      }
      .dark-mode .container-fluid, .dark-mode .navbar-brand{
        background-color: transparent !important;
      }
      .dark-mode .navbar-brand, .dark-mode .dropdown-toggle, .dark-mode .dropdown-menu button{
        border: none !important;
      }
      /* Botones, inputs y otros elementos interactivos */
      body.dark-mode button, 
      body.dark-mode input, 
      body.dark-mode select, 
      body.dark-mode textarea {
          background-color: #000 !important;
          color: #fff !important;
          border-color: #fff;
      }

      /* Navbar, tarjetas, modales, etc. */
      body.dark-mode .navbar, 
      body.dark-mode .card, 
      body.dark-mode .modal-content, 
      body.dark-mode .dropdown-menu {
          background-color: #000 !important;
          color: #fff !important;
      }

      /* Enlaces */
      body.dark-mode a {
          color: #fff;
      }

      body.dark-mode a:hover {
          color: #ccc;
      }
      .dark-mode .navbar{
          border: 1px solid white !important;
      }
      

/*----------------------RESPONSIVE----------------------------*/
/*adaptacion lograda*/
@media screen and (max-width:1024px) {
  .lado-izq{
    height: 50vh;
  }
  .lado-der, .carousel-inner{
    height: 39vh;
  }
  .tarjetas{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
    gap: 400px 100px;
    justify-content: center;
  }
  .texto-ul{
    display: none;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-size: contain;
    background-position: top;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/carrusel-vertical5.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/carrusel-vertical4.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/carrusel-vertical3.avif);
  }
  .elegirnos{
    height: 90vh;
  }
  .subtitulo{
    margin-top: -130px;
  }
  .card-body{
    background-color: white;
    border: 1px solid #0002;
  }
  .grid-cursos{
    grid-template-columns: 370px 370px;
    grid-template-rows: repeat(2, 220px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 60vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 42vh;
  }
  .caja-carrusel{
    height: 30vh;
  }
  .footer{
    height: 20vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    padding: 2px;
  }

}
/*HACER RESPONSIVE*/
@media screen and (max-width:830px) {
  .lado-izq{
    height: 50vh;
  }
  .lado-der, .carousel-inner{
    height: 45vh;
  }
  .tarjetas{
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 10px 10px;
    gap: 500px 10px;
  }
  .texto-ul{
    display: none;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-size: contain;
    background-position: top;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/carrusel-vertical5.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/carrusel-vertical4.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/carrusel-vertical3.avif);
  }
  .elegirnos{
    height: 95vh;
  }
  .subtitulo{
    margin-top: -60px;
  }
  .card-body{
    background-color: white;
    border: 1px solid #0002;
  }
  .grid-cursos{
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(2, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 60vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 50vh;
  }
  .caja-carrusel{
    height: 35vh;
  }
  .footer{
    height: 25vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*LISTO RESPONSIVE*/
@media screen and (max-width:780px) {
  .lado-izq{
    height: 50vh;
  }
  .lado-der, .carousel-inner{
    height: 50vh;
  }
  .tarjetas{
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 10px 10px;
    gap: 500px 10px;
  }
  .texto-ul{
    display: none;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-size: contain;
    background-position: top;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/carrusel-vertical5.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/carrusel-vertical4.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/carrusel-vertical3.avif);
  }
  .elegirnos{
    height: 115vh;
  }
  .card-body{
    background-color: white;
    border: 1px solid #0002;
  }
  .grid-cursos{
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(2, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 70vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 60vh;
  }
  .caja-carrusel{
    height: 40vh;
  }
  .footer{
    height: 30vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .subtitulo{
    padding-top: 100px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*HACER RESPONSIVE*/
@media screen and (max-width:767px) {
  .hero, .tarjetas{
    flex-direction: column;
  }
  .texto-ul{
    display: none;
  }
  .elegirnos{
    height: 290vh;
  }
  .tarjetas{
    align-items: center;
  }
  .grid-cursos{
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
    gap:40px;
  }
  .cursos-titulo{
    margin-top: -1rem;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .cursos-populares{
    height: 95vh;
  }
  .hero{
    border-bottom: none;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
@media screen and (max-width:700px) {
  .grid-cursos{
    grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px;
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.2rem;
  }
  .texto-ul{
    display: none;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
@media screen and (max-width:600px) {
  .grid-cursos{
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .texto-ul{
    display: none;
  }
  .nombre-curso{
    font-size: 2.2rem;
  }
  .cursos-populares{
    height: 150vh;
  }
  .hero{
    border-bottom: none;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}  
/*HACER RESPONSIVE (USAR LOGICA DEL CARRU DERECHO)*/
@media screen and (max-width:550px) {
  .texto-cursos{
    font-size: 3rem;
  }
  .texto-ul{
    display: none;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .lado-izq{
    height: 70vh;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-repeat: no-repeat;
    height: 40vh;
    background-size: cover;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/derecha_10.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/derecha_1.webp);
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
  .subtitulo{
    padding-top: 20px;
  }
  .tarjetas{
    flex-direction: column !important;
    display: flex;
    gap: 0;
  }
  .caja-carrusel{
    height: 57vh;
  }
  .recomendaciones{
    height: 80vh;
  }
  .footer{
    height: 60vh;
  }
}
/*adaptacion lograda*/
@media screen and (max-width:450px) {
  .lado-izq{
    height: 55vh;
  }
  .texto-ul{
    display: none;
  }
  .lado-der, .carousel-inner{
    height: 40vh;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/derecha_10.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/derecha_1.webp);
  }
  .elegirnos{
    height: 235vh;
  }
  .subtitulo{
    padding-top: 100px;
  }
  .tarjetas{
    flex-direction: column !important;
    display: flex;
    gap: 0;
  }
  .grid-cursos{
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 120vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 65vh;
  }
  .caja-carrusel{
    height: 46vh;
  }
  .footer{
    height: 55vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*Adaptacion lograda*/
@media screen and (max-width:420px) {
  .lado-izq{
    height: 60vh;
  }
  .lado-der, .carousel-inner{
    height: 40vh;
  }
  .texto-ul{
    display: none;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/derecha_10.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/derecha_1.webp);
  }
  .elegirnos{
    height: 242vh;
  }
  .subtitulo{
    padding-top: 100px;
  }
  .tarjetas{
    flex-direction: column !important;
    display: flex;
    gap: 0;
  }
  .grid-cursos{
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 120vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 70vh;
  }
  .caja-carrusel{
    height: 50vh;
  }
  .footer{
    height: 55vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*adaptacion lograda*/
@media screen and (max-width:400px) {
  .lado-izq{
    height: 65vh;
  }
  .elegirnos{
    height: 255vh;
  }
  .texto-ul{
    display: none;
  }
  .grid-cursos{
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 125vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 70vh;
  }
  .caja-carrusel{
    height: 50vh;
  }
  .footer{
    height: 60vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*adaptacion lograda*/
@media screen and (max-width:380px) {
  .lado-izq{
    height: 80vh;
  }
  .texto-ul{
    display: none;
  }
  .lado-der, .carousel-inner{
    height: 40vh;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/derecha_10.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/derecha_1.webp);
  }
  .subtitulo{
    padding-top: 100px;
  }
  .tarjetas{
    flex-direction: column !important;
    display: flex;
    gap: 0;
  }
  .elegirnos{
    height: 325vh;
  }
  .grid-cursos{
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 160vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 87vh;
  }
  .caja-carrusel{
    height: 65vh;
  }
  .footer{
    height: 76vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 2px;
    height: 2.2rem;
    width: 2.2rem;
    padding: 2px;
    font-size: 1.2rem !important;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}     
/*adaptacion lograda*/
@media screen and (max-width:360px) {
  .lado-izq{
    height: 75vh;
  }
  .lado-der, .carousel-inner{
    height: 40vh;
  }
  .texto-ul{
    display: none;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/Consejos_Estudiar_Online.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/derecha_10.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/derecha_1.webp);
  }
  .elegirnos{
    height: 295vh;
  }
  .grid-cursos{
    grid-template-columns: 320px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.2rem;
  }
  .uno{
    font-size: 5rem;
  }
  .cursos-populares{
    height: 145vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 90vh;
  }
  .caja-carrusel{
    height: 60vh;
  }
  .footer{
    height: 70vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}
/*adaptacion lograda*/
@media screen and (max-width:350px) {
  .lado-izq{
    height: 62vh;
  }
  .texto-ul{
    display: none;
  }
  .lado-der, .carousel-inner{
    height: 40vh;
  }
  .carrusel-derecha1, .carrusel-derecha2, .carrusel-derecha3{
    background-size: contain;
    background-position: top;
  }
  .carrusel-derecha1{
    background-image: url(../imagenes/carrusel-vertical5.avif);
  }
  .carrusel-derecha2{
    background-image: url(../imagenes/carrusel-vertical4.avif);
  }
  .carrusel-derecha3{
    background-image: url(../imagenes/carrusel-vertical3.avif);
  }
  .elegirnos{
    height: 240vh;
  }
  .grid-cursos{
    grid-template-columns: 310px;
    grid-template-rows: repeat(4, 150px);
    gap:40px;
  }
  .nombre-curso{
    font-size: 2.5rem;
  }
  .texto-cursos{
    font-size: 2.1rem;
  }
  .uno{
    font-size: 4.5rem;
  }
  .cursos-populares{
    height: 120vh;
  }
  .fin-cursos{
    margin-bottom: 25px;
  }
  .hero{
    border-bottom: none;
  }
  .recomendaciones{
    height: 72vh;
  }
  .caja-carrusel{
    height: 50vh;
  }
  .footer{
    height: 60vh;
  }
  .footer-title{
    margin-top: 2px;
  }
  .social-icons{
    margin-left: -10px;
    margin-bottom: 10px;
  }
  .faq-button{
    margin-bottom: 20px;
  }
  .navbar-nav i{
    margin-top: -150px;
  }
  .navbar-nav .active{
    margin-bottom: -150px;
  }
}